![image](https://www.python.org/static/img/python-logo.png)
# AUP111-Fundamentals of Programming
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

# Week3 Python basic data structure and simple process control

![image](https://i.ibb.co/M1XgBz2/IPO-2.png)

## Topic 1-list
https://docs.python.org/3/tutorial/datastructures.html

<img src="https://i1.faceprep.in/Companies-1/lists-in-python.png" alt="img" border="0" width="500">

### Step 1: multiple "Hello world".

In [ ]:
student0 = 'John'; student1 = 'Mary'; student2 = 'Ken'
print('Hello', student0)
print('Hello', student1)
print('Hello', student2)

### Step 2:indexing of list elements

In [ ]:
          #   0      1       2
students = ['John', 'Mary', 'Ken']
print('Hello', students[0])
print('Hello', students[1])
print('Hello', students[2])

Step 3: negative indexing of list elements

In [ ]:
#             -3      -2      -1
students = ['John', 'Mary', 'Ken']
print('Hello', students[-3])
print('Hello', students[-2])
print('Hello', students[-1])

### Step 4: Length of a list

In [ ]:
students = ['John', 'Mary', 'Ken']
print(students)
print(len(students))

### Step 5: add an element

In [ ]:
students.append('Lily')
print(students)
print(len(students))

## Topic 2-str.split()

### Step 1:

In [ ]:
students = 'John Mary Ken'
print(students)
print(len(students))

### Step 2: split()

In [ ]:
students = 'John Mary Ken'.split()
print(students)
print(len(students))
print(type(students))

### Step 3: input() with split()

In [ ]:
# input 3 5 
paras = input().split()
print(paras[0])
print(paras[1])

### Step 4: input() with split()，then cast it to integer

In [ ]:
# input 3 5 
paras = input().split()
a = int(paras[0])
b = int(paras[1])
print(a + b)

In [ ]:
paras = input().split()
a, b = map(int, paras)
print(a + b)

In [ ]:
a, b = map(int, input().split())
print(a + b)

In [ ]:
# input a number 3 with a string A 
paras = input().split()
a = int(paras[0])
b = paras[1]
print(a , b)

In [ ]:
for i in range(a):
  print(b)

## Topic 3-for-loop

### Step 1: using list

In [ ]:
students = ['John', 'Mary', 'Ken']
print('Hello', students[0])
print('Hello', students[1])
print('Hello', students[2])

In [ ]:
students = ['John', 'Mary', 'Ken']
for student in students:
  print('Hello ', student)

### Step 2: print out the numbers 1-9

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for number in numbers:
  print(number, end=' ')

##Topic 4:multiple assignment

### Step 1: assignment

In [ ]:
students = ['John', 'Mary', 'Ken']
a = students[0]
b = students[1]
c = students[2]
print(a, b, c)

### Step 2: multiple assignment/ unpacking

In [ ]:
students = ['John', 'Mary', 'Ken']
a, b, c = students
print(a, b, c)

### Step 3: partial unpacking

In [ ]:
students = ['John', 'Mary', 'Ken']
a, *other = students
print(other)

##Topic 5:  f-string

https://docs.python.org/3/tutorial/inputoutput.html

### Step 1: f-string

In [ ]:
a = 'John'
str2 = f'Hi, {a}'
print(str2)

### Step 2: f-string output

In [ ]:
a = 'John'
print(f'Hi, {a}')

### Step 3: formatted string

In [ ]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
print(f'{yes_votes:9} YES votes {percentage:2.2%}')

## Topic 6: 印出99乘法表/print out the multiplication table
<img src="https://previews.123rf.com/images/in8finity/in8finity1408/in8finity140800033/30726191-multiplication-table-on-white-background.jpg" alt="img" border="0" width="500">

### Step 1: print out the numbers 1-9

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for n in numbers:
  print(f'{n:1}*1 ={n*1:2}', end=' ')
  print(f'{n:1}*2 ={n*2:2}', end=' ')
  print(f'{n:1}*3 ={n*3:2}', end=' ')
  print(f'{n:1}*4 ={n*4:2}', end=' ')
  print(f'{n:1}*5 ={n*5:2}', end=' ')
  print(f'{n:1}*6 ={n*6:2}', end=' ')
  print(f'{n:1}*7 ={n*7:2}', end=' ')
  print(f'{n:1}*8 ={n*8:2}', end=' ')
  print(f'{n:1}*9 ={n*9:2}', end=' ')
  print()

### Step 2: print out the multiplication table

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for a in numbers:
  for b in numbers:
    print(f'{a:1}*{b:1} ={a*b:2}', end=' ')
  print()

## Topic 7-range()
range(start, stop, step)

In [ ]:
help(range)

### Step 1: parameters of range(): begin/end

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for n in a:
  print(f'{n}', end=' ')
print()

In [ ]:
b = range(1, 10)
for n in b:
  print(f'{n}', end=' ')
print()

In [ ]:
b = range(10)
for n in b:
  print(f'{n}', end=' ')
print()

In [ ]:
for n in range(1, 10):
  print(f'{n}', end=' ')
print()

### Step 2: parameters of range(): step

In [ ]:
for n in range(1, 10, 1):
  print(f'{n}', end=' ')
print()

In [ ]:
for n in range(1, 18, 2):
  print(f'{n}', end=' ')
print()

### Step 3: print out the multiplication table with range()

In [ ]:
for n in range(1,10):
  print(f'{n:1}*1 ={n*1:2}', end=' ')
  print(f'{n:1}*2 ={n*2:2}', end=' ')
  print(f'{n:1}*3 ={n*3:2}', end=' ')
  print(f'{n:1}*4 ={n*4:2}', end=' ')
  print(f'{n:1}*5 ={n*5:2}', end=' ')
  print(f'{n:1}*6 ={n*6:2}', end=' ')
  print(f'{n:1}*7 ={n*7:2}', end=' ')
  print(f'{n:1}*8 ={n*8:2}', end=' ')
  print(f'{n:1}*9 ={n*9:2}', end=' ')
  print()

In [ ]:
for a in range(1,10):
  for b in range(1,10):
    print(f'{a:1}*{b:1} ={a*b:2}', end=' ')
  print()

## Topic 8-old string formatting

```
A = 435; B = 59.058
print('Art: %5d, Price per Unit: %8.2f' % (A, B))          #%-formatting 格式化列印
print("Art: {0:5d}, Price per Unit: {1:8.2f}".format(A,B)) #str-format（Python 2.6+）
print(f"Art:{A:5d}, Price per Unit: {B:8.2f}")             #f-string （Python 3.6+）
```

### Step 1: %-formatting

In [ ]:
for a in range(1,10):
  for b in range(1,10):
    print('%d*%d =%2d'%(a, b, a*b), end=' ')
  print()

### Step 2: str-format（Python 2.6+）

In [ ]:
for a in range(1,10):
  for b in range(1,10):
    print('{0:1d}*{1:1d} ={2:2d}'.format(a, b, a*b), end=' ')
  print()

### Step 3: f-string （Python 3.6+）

In [ ]:
for a in range(1,10):
  for b in range(1,10):
    c= a*b
    print(f'{a}*{b} ={c:2d}', end=' ')
  print()

## Topic 9-Initialization and comprehension of list

### Step 1: Initialization

In [ ]:
numbers = [2, 4, 6, 8, 10]
for n in numbers:
  print(f'{n}', end=' ')

### Step 2: Initialization a lis with List Comprehension

In [ ]:
numbers = [x for x in range(2,11,2)]
for n in numbers:
  print(f'{n}', end=' ')

In [ ]:
numbers = [2*x for x in range(1,6,1)]
for n in numbers:
  print(f'{n}', end=' ')

# Topic -10
Exercise 
https://docs.python.org/3/tutorial/controlflow.html