# AU Fundamentals of Python Programming-111-Tips for test

## IPO-I Input parameters

```
input()
```

### Enter a string variable

In [ ]:
instr = input()
print(instr)

### Enter an integer variable

In [ ]:
instr = input()
val = int(instr)
print(val)

In [ ]:
#Combining input and conversion of integers
val = int(input())
print(val)

### Enter a float variable

In [ ]:
instr = input()
val = float(instr)
print(val)

In [ ]:
#Combine input and float conversion
val = float(input())
print(val)

### Enter two string variables

In [ ]:
instr = input()
paras = instr.split()
a = paras[0]
b = paras[1]
print(f"{a} {b}")

In [ ]:
#Combining input and string splitting
a, b = input().split()
print(f"{a} {b}")

### Enter three integer variables

In [ ]:
instr = input()
paras = instr.split()
a = int(paras[0])
b = int(paras[1])
c = int(paras[2])
print(f"a={a} b={b} c={c}")

In [ ]:
#合併輸入和數字轉換
a, b, c = map(int, input().split())
print(f"a={a} b={b} c={c}")

## IPO-O formatted output
https://docs.python.org/3/tutorial/inputoutput.html

### formatted output with multiple variables

In [ ]:
year = 2016
event = 'Referendum'
print(f'Results of the {year} {event}')

### Controls the width and arrangement of formatted output

* 9: Width 9
* 2.2: integer digits 2, decimal digits 2,

In [ ]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
print(f'{yes_votes:9} YES votes {percentage:2.2%}')

### legacy formatted output

Python has 3 ways to format string output: f-string, str.format, %-formatting. The first f-string is the mainstream way. Sections 2-3 are called the old-school "Old-School" string formatting method. Students who read old books or older website content often see these two ways. You can watch, but students are not encouraged to write programs in the old way.

https://realpython.com/lessons/old-school-string-formatting-python/

https://www.python.org/dev/peps/pep-0498/

https://realpython.com/python-formatted-output/

### f-string格式化輸出

<img src="https://files.realpython.com/media/t.53be85450e90.png" alt="drawing" width="600"/>

In [ ]:
quantity=6; item='bananas'; price=1.74
print(f'{quantity} {item} cost ${price}')

### str.format


<img src="https://files.realpython.com/media/t.e6b8525755da.png" alt="drawing" width="600"/>

In [ ]:
quantity=6; item='bananas'; price=1.74
print('{0} {1} cost ${2}'.format(quantity,item,price ))

### %-formatting


<img src="https://files.realpython.com/media/t.176c482e3252.png" alt="drawing" width="600"/>

In [ ]:
quantity=6; item='bananas'; price=1.74
print('%d %s cost $%.2f' % (quantity,item,price ))

## IPO-P IF-condition

<img src="https://i0.wp.com/www.alphacodingskills.com/python/img/python-if-elif-else.png" alt="drawing" width="600"/>

https://docs.python.org/3/tutorial/inputoutput.html

### single-judgment if conditional

In [ ]:
val = 3
if val % 2 == 0:
 print("Even")
else:
 print("Odd")

### multiple-judgment if conditional

In [ ]:
month = 6
if 3<= month and month <= 5:
  print ("Spring")
elif 6<= month and month <= 8:
  print ("Summer")
elif 9<= month and month <= 11:
  print ("Autumn")  
else:
  print ("Winter")

In [ ]:
month = 6
if 3<= month <= 5:
  print ("Spring")
elif 6<= month <= 8:
  print ("Summer")
elif 9<= month <= 11:
  print ("Autumn")  
else:
  print ("Winter")

## IPO-P For loop

<img src="https://pynative.com/wp-content/uploads/2021/06/python-nested-for-loop.png" alt="drawing" width="600"/>

### for loop with a list

In [ ]:
mylist = ['dog', 'cat', 'cow']
for x in mylist:
  print(x)

### for loop with range()

In [ ]:
numbers = range(1,10)
for a in numbers:
  for b in numbers:
    print(f'{a:1d}*{b:1d} ={a*b:2d}', end=' ')
  print()

## IPO-P String functions and sorting

https://docs.python.org/zh-tw/3/library/stdtypes.html#text-sequence-type-str
* str.format(*args, **kwargs)
* str.split(sep=None, maxsplit=-1)
* str.strip([chars])
* str.upper()
* str.lower()
* str.replace(old, new[, count])

### string substitution

str.replace(old, new[, count])

In [ ]:
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

str.replace(old, new[, count])
返回字串的副本，其中出現的所有子字串 old 都將被替換為 new。如果給出了可選參數 count，則只替換前 count 次出現。

### sorting of strings
sorted()

In [ ]:
a = ["1234", "5678", "3333", "7777", "9999"]
x = sorted(a)
print(x)

In [ ]:
a = ["1234", "5678", "3333", "7777", "9999"]
x = sorted(a, reverse=True)
print(x)

## IPO-P use of random numbers
https://docs.python.org/3/library/random.html

### seeding a randowm number
random.seed(a=None)

### randrange()
random.randrange(stop)

random.randrange(start, stop[, step])

In [ ]:
from random import randrange
print(randrange(10))

### randrange()
* random.random()
Return the next random floating point number in the range [0.0, 1.0).

* random.uniform(a, b)
Return a random floating point number N such that a <= N <= b for a <= b and b <= N <= a for b < a.

In [ ]:
import random
print(random.random())
print(random.uniform(1.5, 1.9))

## IPO-P calendar

https://docs.python.org/3/library/calendar.html

### calendar.monthrange() How many days are there in each month, the first day is the day of the week

In [ ]:
import calendar
first_day, number_of_days = calendar.monthrange(2021, 9)
print(first_day, number_of_days)