# Python Programming-Exercise

### 0 Unit conversion: height and weight 

Problem Description:

The user inputs height (cm) and weight (kg), converts the output height (inch) and weight (lb) into units. (1 lb=0.454 kg, 1 inch=2.54 cm)

Input Description: 

Input height (cm)(int) and weight (kg)(int). 

Output Description:

The unit conversion outputs height (inch) (float to the first decimal place) and weight (pound) (float to the first decimal place), and a newline character is required at the end.

Example: 

| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
|180 85|70.9 <br>187.2⏎ |
|170 60|66.9 <br>132.2⏎ |

In [ ]:
#input 1
h, w = map(int, input().split()) 
H=h/2.54 
W=w/0.454 
print(f"{H:.1f}") 
print(f"{W:.1f}")

180 85
70.9
187.2

In [ ]:

#input 2
h, w = map(int, input().split()) 
H=h/2.54
W=w/0.454
print(f"{H:.1f}") 
print(f"{W:.1f}")

170 60
66.9
132.2

### A: Unit conversion: kilometres to miles

Problem Description:
Try to write a program, you can enter kilometres (float) by keyboard, the output of the program is miles (float), the conversion formula is as follows: 1 kilometre= 0.62137 miles

Input Description: 
Enter the number of kilometres you want to convert (float). 

Output Description:
Output miles (float), take to the first decimal place, there must be a newline character at the end.

Example: 


| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
|100|62.1⏎ |
|500|310.7⏎ |

In [ ]:
#input 1
l=float(input())
L=l*0.62137
print(f"{L:.1f}")

100
62.1

In [ ]:
#input 2
l=float(input())
L=l*0.62137
print(f"{L:.1f}")

500
310.7

### B:String cutting 

Problem Description:

The user enters a paragraph of text and a symbol for cutting, and the program will cut into number substrings according to the specified symbol.

Input Description:

Enter the text string (String) and the cutting symbol (string) respectively.

Output Description:

After cutting through the cutting symbol, each string is displayed in one column, and there must be a newline character at the end.

Example:


| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
|asia@#@japan@#@taiwan@#@taipei @#@|asia |
|   |japan|
|   |taiwan|
||taipei⏎ |

In [ ]:
#input 1
ss, sy = input().split() 
slist = ss.split(sy) 
for W in slist: 
 print(W)

asia@#@japan@#@taiwan@#@taipei @#@
asia
japan
taiwan
taipei

###C: Total score and average 


Problem Description: 

Enter the scores of Chinese, English, and mathematics, and calculate the total score and average score.

Input Description:

Enter the scores in Chinese (int), English (int) and mathematics (int).

Output Description:

Output the total score and the rounded average to the first decimal place, with a newline character at the end.

Example:


| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
|82 77 68| 227|
||75.7⏎ |

In [ ]:
#input 1
#C=float(input())
#E=float(input())
#M=float(input())
C, E, M = map(int, input().split())
print( C + E + M )
print(f"{( C + E + M ) / 3 :.1f}")

82 77 68
227
75.7

In [ ]:
scores = input().split()
C=int(scores[0])
E=int(scores[1])
M=int(scores[2])

print( C + E + M )
print(f"{( C + E + M ) / 3 :.1f}")

82 77 68
227
75.7

### D: Digital encryption

Problem Description: 

Enter a three-digit number and encrypt it in the following way
1.	For each digit, to add 6 and divide by 10 to get the remainder to replace the corresponding original digit.
2.	Swap the number of the first digit with the number of the third digit

Input Description:

Enter a three-digit string (String).

Output Description:

Output the encrypted number string (String), there must be a newline character at the end.

Example: 

| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
|123|987⏎ |
|456|210⏎ |

In [ ]:

#input 1
nnn = int(input()) 
d3 = nnn //100 
d2 = (nnn - d3*100)//10 
d1 = nnn % 10 
#print(f"digit 3=(d3)") 
#print(f"digit 2=(d2)") 
#print(f"digit 1=(d1)") 
d3 = (d3 + 6)%10 
d2 = (d2 + 6)%10 
d1 = (d1 + 6)%10 
d1, d3 = d3, d1 
print(f"{d3}{d2}{d1}")

123
987

In [ ]:
#input 2
nnn = int(input()) 
d3 = nnn //100 
d2 = (nnn - d3*100)//10 
d1 = nnn % 10 
#print(f"digit 3=(d3)") 
#print(f"digit 2=(d2)") 
#print(f"digit 1=(d1)") 
d3 = (d3 + 6)%10 
d2 = (d2 + 6)%10 
d1 = (d1 + 6)%10 
d1, d3 = d3, d1 
print(f"{d3}{d2}{d1}")

456
210

### E: Cylinder volume calculation 

Problem Description: 

Please write a program for the user to input the radius (float) and height (float) of the circle, and the program outputs the volume (float) of the circle.  π×r2×h

Input Description:

Enter the radius (float) and height (float).

Output Description:
Output the rounded volume to the first decimal place, and there must be a newline character at the end.

Example:

	
| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
|18.9  12|13466.5⏎ |
|3.2 12|386.0⏎ |

In [ ]:
#input 1
import math
r, h = map(float, input().split()) 
#r=float(input())
#h=float(input())
pi=3.14159
v=(  pi * r ** 2 * h )
print(f"{v:.1f}")

3.2 12
386.0

In [ ]:
r, h = map(float, input().split()) 
pi=3.14159
v=(  pi * r ** 2 * h )
print(f"{v:.1f}")

3.2
12
241.15200000000004

### F: Standard weight calculation

Problem Description: 

It is known that the standard weight of boys=(height-80)×0.7; the standard weight of girls=(height-70)×0.6; try to write a program to calculate the standard weight of boys and girls

Input Description:

Enter two values, which are represented by height (int) and gender (int) in order (1 for male; 2 for female).

Output Description:

Output the standard weight, the floating point number (float) is taken to the first place, and there must be a newline character at the end.

Example:


| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
|172  1|64.4⏎|
|165  2|57.0⏎|

In [ ]:
#input 1
height, gender = map(int, input().split()) 
if gender == 1: #male
  w= (height - 80) * 0.7
else:
  w= (height - 70) * 0.6
print(f"{w:.1f}")

165 2
57.0

In [ ]:
#input 2
h=float(input())
w= (h - 70) * 0.6
print(f"{w:1f}")

165
57.000000

### G: Change problem


Problem Description:

Suppose there are three types of coins: 1-dollar, 5-dollar, and 50-dollar. Ken's mother asked Ken to buy fruit at the marketplace, and gave Ken n dollars to buy fruits. An apple is 15 dollars, an orange is 20 dollars, and a peach is 30 dollars. How many coins does Ken get after buying the fruits?  The number of coins is the least.

Input Description: 

The degree of power used (int).

Output Description:

List the total number of 1-dollar, 5-dollar and 50-dollar. If the money you bring is not enough to buy fruits, it will display "0", and there must be a newline character at the end.

Example:

| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
|600  1  2  3|0|
||1|
||9⏎|

In [ ]:
#input 1
money, apple, orange, peach  = map(int, input().split()) 
cost = apple * 15 + orange * 20 + peach * 30
remainder = money - cost

600 1 2 3

In [ ]:
remainder

455

In [ ]:
coin_50 = remainder // 50
coin_5  = (remainder - coin_50 *50) // 5
coin_1  =  remainder - coin_50 *50 - coin_5 * 5
print(coin_1)
print(coin_5)
print(coin_50)

0
1
9

### H: Triangle classification

Problem Description:

The user enters the three side lengths a, b, c (and a≤b≤c) of a legal triangle, determines and outputs the triangle as "Right triangle", "Obtuse triangle", or "Acute triangle".

Judgment method:

Assuming that the three sides of a triangle are a, b, c, where c is the longest side length, calculate 

if $a^2+b^2<c^2$ (the square of a plus the square of b is less than the square of c), then the obtuse triangle is the angle corresponding to c.

If $a^2+b^2=c^2$ (the square of a plus the square of b is equal to the square of c), then the right angle of a right triangle is at the angle corresponding to c.

If $a^2+b^2>c^2$ (the square of a plus the square of b is greater than the square of c), it is an acute triangle. The angles corresponding to the three sides of a, b, and c are all acute.

Input Description:

Enter the length of the three sides of a legal triangle a (int), b (int), c(int) (and $a≤ b≤ c$ ).

Output Description:

Determine and output that the triangle is "right triangle", "obtuse triangle", or "acute triangle", and there must be linefeed characters at the end.

Example: 


| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
|3 4 5	|Right triangle⏎ |
|2 3 4	|Obtuse triangle⏎ |
|4 5 6  |Acute triangle⏎ |

In [ ]:
#input 1
a, b, c =map(int, input().split()) 

A= a**2
B= b**2
C= c**2
if 'A + B = C':
 print("Right triangle")
elif A + B < C:
 print("Obtuse triangle")
elif A + B > C:
 print("Acute triangle")

3
4
5
Right triangle

In [ ]:
#input 2
a=float(input())
b=float(input())
c=float(input())
A= a**2
B= b**2
C= c**2
if 'A + B = C':
 print("Right triangle")
elif 'A + B < C':
 print("Obtuse triangle")
else:
 print("Acute triangle")

2
3
4
Right triangle

In [ ]:
#input 3
a=float(input())
b=float(input())
c=float(input())
A= a**2
B= b**2
C= c**2
if 'A + B = C':
 print("Right triangle")
elif A + B < C:
 print("Obtuse triangle")
else:
 print("Acute triangle")

4
5
6
Right triangle