# W14 Exercise

## M3 Problems:Q11-Q15

### M3Q11. Sum of continuous elements as 0
Problem Description:
There are positive numbers, negative numbers, and 0s in an integer array, and the elements are not repeated. Please write a program to find out in this array
For several consecutive elements, the sum is zero. For example: in 1, 2, 3, -5, 4, the sum of 2, 3, -5 is 0.

Input description:
Enter the array size N and the number sequence with N elements respectively.

Output description:
Please find out the number of consecutive elements in the array whose sum is 0, and output the result.
Line characters.

| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
| 1 2 3 -5 4  | 2 3 -5 ⏎|

<font size="10">&#x0210B;</font>int:

__Input:__ Input a line directly into a list

__Process:__ Use the dictionary to record the accumulated value

__Output:__

In [ ]:
#from here
nums =  list(map(int, input().split()))
n = len(nums)
for start in range(n):
  sum = 0
  for x in range(start, n):
    sum +=nums[x]
    if sum == 0:
      for y in range(start, x+1):
        print(nums[y], end=" ")
      print()

1 2 3 -5 4
2 3 -5

### M3Q12. Find the same element

Problem Description:
Given that two integer arrays f and g, their elements have been arranged from small to large, and the elements of the two arrays are all different
Self-different. For example, f has 1, 3, 4, 7, 9, and g has 3, 5, 7, 8, 10. Please write a program to calculate these two matrices
List how many sets of the same data are between each other. In the above example, f[2] and g[1] are both 3, which is the first group. f[4] and
g[3] are all 7, which is the second group.

Input description:
Enter two numbers with N1 elements and N2 elements.

Output description:
How many groups of elements appear in each of the two arrays.

| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
| 2 3 3 2 3 4 5 6 | 2⏎|
|3 3 1 -1 4 7||

<font size="10">&#x0210B;</font>int:

__Input:__ Input 2 lines directly into 2 lists

__Process:__ Use collection {}

__Output:__

In [ ]:
#from here
nums1 = list(map(int, input().split()))
nums2 = list(map(int, input().split()))
set1 = set()
set2 = set()

for x in nums1:
  if x not in set1:
    set1.add(x)

for x in nums2:
  if x not in set2:
    set2.add(x)
count = 0
for x in set1:
  if x in set2:
    count +=1

print(count)

2 3 3 2 3 4 5 6
3 3 1 -1 4 7
2

### M3Q13. Calendar

Problem Description:
Please design a perpetual calendar, you can enter any year (year) and month (month), and print out the monthly calendar for that month.
Take March 2001 as an example, the format is as follows:

| SU MO TU WE TH FR SA |
|:-------------------------|
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp; 3|
|&nbsp;&nbsp;4 &nbsp;&nbsp;&nbsp;5 &nbsp;&nbsp;&nbsp;6 &nbsp;&nbsp;&nbsp;7 &nbsp;&nbsp;&nbsp;8 &nbsp;&nbsp;&nbsp;9&nbsp;&nbsp; 10|
|11&nbsp; 12 &nbsp;13 &nbsp;14&nbsp; 15 &nbsp;16&nbsp; 17|
|18&nbsp; 19 &nbsp;20 &nbsp;21 &nbsp;22 &nbsp;23 &nbsp;24|
|25&nbsp; 26&nbsp; 27&nbsp; 28&nbsp; 29&nbsp; 30&nbsp; 31|

1. The number of days per month in a year is as follows: February 29th in a lunar year and 28th in a normal year

| Month | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 |
|---|---|---|---|---|---|---|---|---|---|---|---|- --|
| Days |31| 28| 31| 30| 31| 30| 31| 31| 30| 31| 30| 31 |

2. Runnian is judged to be one run for 4 years, no run for 100 years, and run again for 400 years.
3. Therefore, January 1 of AD 1 is a Monday, and there are 52 weeks and 1 day in a year, so 2 AD 1
1st is Tuesday, and so on)

Input description:
Enter the year (year) and month (month).

Output description:
To output the monthly calendar of the month, please use a tab space between each number, and there must be a newline character at the end.


| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
| 2001 3 | SU MO TU WE TH FR SA |
||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp; 3|
||&nbsp;&nbsp;4 &nbsp;&nbsp;&nbsp;5 &nbsp;&nbsp;&nbsp;6 &nbsp;&nbsp;&nbsp;7 &nbsp;&nbsp;&nbsp;8 &nbsp;&nbsp;&nbsp;9&nbsp;&nbsp; 10|
||11&nbsp; 12 &nbsp;13 &nbsp;14&nbsp; 15 &nbsp;16&nbsp; 17|
||18&nbsp; 19 &nbsp;20 &nbsp;21 &nbsp;22 &nbsp;23 &nbsp;24|
||25&nbsp; 26&nbsp; 27&nbsp; 28&nbsp; 29&nbsp; 30&nbsp; 31⏎|

<font size="10">&#x0210B;</font>int:

__Input:__ The input is 2 integers

__Process:__ calendar.monthrange() function can know the first day of each month and the days of the week

__Output:__

In [ ]:
#from here
import calendar
help(calendar.monthrange)
year, month = map(int, input().split())
print(year, month)
wday, ndays= calendar.monthrange(year, month)
print(wday, ndays)

Help on function monthrange in module calendar:

monthrange(year, month)
    Return weekday (0-6 ~ Mon-Sun) and number of days (28-31) for
    year, month.

2001 3
2001 3
3 31

In [ ]:
print("SU\tMO\tTU\tWE\tTH\tFR\tSA")
for i in range(wday+1):
  print("", end="\t")
theday = 1
for i in range(wday, 6):
  print(theday, end="\t")
  theday += 1
print()

while theday <= ndays:
  for i in range(7):
    print(theday, end="\t")
    theday += 1
    if theday > ndays:
      break
  print()

SU	MO	TU	WE	TH	FR	SA
				1	2	3
4	5	6	7	8	9	10
11	12	13	14	15	16	17
18	19	20	21	22	23	24
25	26	27	28	29	30	31

### M3Q14. Array A[n][n], B[n][n]

Problem Description:
Let the user input a positive integer n, and output two two-dimensional arrays A[n][n], B[n][n] as follows: (Don’t just use
printf, try using loops or other methods)

Input description:
Enter a positive integer n

Output description:
Output two two-dimensional arrays A[n][n] and B[n][n]. Please use tabs between each number, and there must be a newline character at the end.


| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
| 5| 1 2 3 4 5|
||10 9 8 7 6|
||11 12 13 14 15|
||20 19 18 17 16|
||21 22 23 24 25|
||1 10 11 20 21|
||2 9 12 19 22|
||3 8 13 18 23|
||4 7 14 17 24|
||5 6 15 16 25|
|  | ⏎|

<font size="10">&#x0210B;</font>int:

__Input:__ The input is an integer

__Process:__ For-loop of the second layer

__Output:__

In [ ]:
#from here
n = int(input())
mat = list()
for i in range(n):
  if i %2 == 0:
    row =[x for x in range(i*n+1, (i+1)*n+1)]
  else:
    row =[x for x in range((i+1)*n, i*n, -1)]
  mat.append(row)
print(mat)

for x in range(n):
  for y in range(n):
    print(mat[x][y], end="\t")
  print()

for x in range(n):
  for y in range(n):
    print(mat[y][x], end="\t")
  print()

5
[[1, 2, 3, 4, 5], [10, 9, 8, 7, 6], [11, 12, 13, 14, 15], [20, 19, 18, 17, 16], [21, 22, 23, 24, 25]]
1	2	3	4	5
10	9	8	7	6
11	12	13	14	15
20	19	18	17	16
21	22	23	24	25
1	10	11	20	21
2	9	12	19	22
3	8	13	18	23
4	7	14	17	24
5	6	15	16	25

### M3Q15. Matrix multiplication
Problem Description:
Write a program to calculate the multiplication of two matrices, for example, A is a n1 x m1 matrix, B is a n2 x m2 matrix,
C=AB is the n1 x m2 matrix.

Input description:
Enter 4 integers such as n1, m1, n2 and m2 in the first column, n1 and m1 are the row and column of the first array,
And n2 and m2 are the rows and columns of the second array, where m2 = n2. Then enter two arrays
Content.

Output description:
The result of multiplying the output matrix must have a newline character at the end.

| Sample Input:   |      Sample Output:      |
|:----------------|:-------------------------|
| 3 2 2 3    | 9 2 -1 |
| 1 4    | 8 4 3   |
| 2 3  | 7 6 7  ⏎|
| 3 2  | |
|1 2 3||
|2 0 -1||

<font size="10">&#x0210B;</font>int:

__Input:__ The input is m1+m2+1 line

__Process:__ Use 3-layer for-loop to calculate i-row*j-column

__Output:__

In [ ]:
#from here